@use "variables" as *;

// mixins to take care of repeated patterns.
@mixin set-font(
	$size: $font-size-base,
	$line-height: normal,
	$font: $body-font-family
) {
	font-family: $font;
	font-size: $size;
	line-height: $line-height;
}

@mixin set-flex($direction: row, $wrap: wrap) {
	display: flex;
	flex-flow: $direction $wrap;
}

@mixin uppercase() {
	text-transform: uppercase;;
}
@mixin divider($color: $accent-blue) {
	border-top: 1px solid $color;
	margin-top: 1em;
	padding-top: 1.5em;
}

@mixin headline-style {
	font-family: $headline-font-family;
	margin: 0;
}

@mixin font-property($size, $weight) {
	font-size: $size;
	font-weight: $weight;
}

@mixin pattern(){
	$bkgd: #0b191e;
	$bkgd-light-1: #0d1c22;
	$bkgd-light-2: $background-dark;
  background:
  linear-gradient(27deg, $bkgd 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, $bkgd 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, $bkgd-light-1 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, $bkgd-light-1 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, $bkgd-light-2 10px, transparent 10px),
  linear-gradient($bkgd-light-2 25%, $bkgd 25%, $bkgd 50%, transparent 50%, transparent 75%, $bkgd-light-1 75%, $bkgd-light-1);
  background-color: #0a161b;
  background-size: 20px 20px;
}

@mixin icon($url)
{
  background-image: $url;
  background-repeat: no-repeat;
  background-position: center;
}

// These styles here should describe how the atoms (elements) should appear most of the time.
// They can be overridden at the molecule (block) as necessary

h1 {
	@include uppercase;
	@include headline-style();
	@include font-property($font-size-xl, 700);
	background: $background-dark;
	color: $text-light;
	display: block;
	padding: $font-size-xl $font-size-sm;
	margin-block-start: 0;
	letter-spacing: .25em;
}
h2 {
	@include uppercase();
	@include headline-style();
	@include font-property($font-size-md, 600);
	text-align:left;
	padding-left: 1.5em;
	font-style: italic;
	color: $text-dark;
	margin: $font-size-md auto 0 auto;
}
h3 {
	@include uppercase();
	@include headline-style();
	@include font-property($font-size-lg, 100);
	padding: 0.85em 0 0.2em 0.25em;
	display: flex;
	column-gap: calc($font-size-sm * 0.7);
	align-content: center;
	justify-content: left;
}

p {
	@include set-font;
	padding: 0.5em;
	margin: 0;
}

p,
li {
	max-width: 66ch;
}

ul {
	margin-block-start: calc($font-size-sm * 0.3);
}

ul li {
	margin-bottom: calc($font-size-base * 0.6);
	list-style: none;
}

a {
	border-bottom: 1px solid rgba(24, 24, 24, 0.2);
	background-color: none;
	color: $text-dark;
	text-decoration: none;
	transition: border-color 0.2s ease-in-out;
}
a:hover {
	border-bottom: 2px $background-orange solid;
	transition: .6s;
}

.requirements a {
	color: $background-primary;
}
.hero {
	content: $hero-img;
	width: 600px;
}

.zen-validate-html {
  @include icon(url(/images/icons8-html-5-50.png));
}

.zen-validate-css {
  @include icon(url(/images/icons8-css3-60.png));
}

.zen-license {
  @include icon(url(/images/icons8-creative-commons-50.png));
}

.zen-accessibility {
  @include icon(url(/images/icons8-assistive-technology-50.png));
}

.zen-github {
  @include icon(url(/images/icons8-github-50.png));
}

footer a {
  padding: 1em;
  color: rgb(255, 68, 0,0);
  border: none;
  display: inline-block;
}

footer a:active, a:visited {
  background-color: $accent-orange;

}

.design-name {
	@include uppercase();
	font-family: $headline-font-family;
}

aside li a {
	font-size: $font-size-sm;
}

aside .archives {
	display: none;
}

aside h3 {
	display: none;
}

.design-selection::before {
	width: 100%;
	margin-left: -2em;
	height: 500px;
	position:absolute;
	top: -500px;
	content: "";
	background-color: $accent-orange;
}

.design-selection ul {
	padding-left: 0;
}

.zen-resources ul {
	padding: 0;
	margin: 0;
}

.zen-resources ul li {
	margin: 0;
	padding: 0.25em;
}

// *** CSS Garden Images/Icons ***

// hero image
header::before {
	content: $hero-img;
}

header {
	h1 {
		margin-top: -5px;
	}
}


// icon mixin -- sets height/width of icon, and causes it to display
@mixin icon-mobile($icon) {
	background-image: $icon;
	background-repeat: no-repeat;
	background-size: $font-size-xl;
	width: $font-size-xxl;
	padding-bottom: 5%;
	display: inline-block;
	content: "";
}

// tent
.preamble h3::before {
  animation: fade 2s 1;
  @include icon-mobile($tent-light);
  padding-bottom: 10%;
  align-self: center;
  padding-right: 2%;
}

// tree
.explanation h3::after {
  animation: fade 5s 1;
  @include icon-mobile($tree-dark);
}

// mountains
.participation h3::before {
  animation: fade 5s 1;
  @include icon-mobile($mount-dark);
}

// compass
.benefits h3::after {
  animation: fade 5s 1;
  @include icon-mobile($compass-dark);
}

// bear
.requirements h3::before {
  animation: fade 5s 1;
  @include icon-mobile($bear-light);
}

//Animations Keyframes
@keyframes fade {
  from {
      rotate: (45deg);
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
