// styles.scss
@use 'atoms';
@use 'organisms';
@use 'variables' as *;

header {
    text-align: center;
}

.preamble {
    background-color: $accent-blue;
}

footer {
    background-color: $accent-orange;
    padding: $font-size-lg;
}

#zen-resources ul li a{
    color: $text-light;
}

#zen-resources ul {
    width: fit-content;
}