// styles.scss
@use 'atoms';
@use 'organisms';
@use 'variables' as *;

header {
    text-align: center;
}

.preamble {
    background-color: $accent-blue;
}

footer {
    background-color: $accent-orange;
    padding: $font-size-lg;
}

#zen-resources ul li a{
    color: $text-light;
}

#zen-resources ul {
    width: fit-content;
}

ul {

    margin: 0 auto 0 auto;
}


.design-selection {
    padding-top: 2em;
    padding-left: 2em;
    z-index: -1;
    position:relative;
}

.design-archives {
    background-color: $accent-orange;
}

.design-archives li {
    display: inline-block;
    padding-left: 1em;
}