// styles.scss
@use 'atoms'; 
@use 'variables' as *;

.design-selection {
    background-color: $accent-orange;
}

.participation {
    background-color: $accent-orange;
}

.requirements {
    background-color: $accent-blue;
}

.zen-resources {
    display: flex;
    flex-direction: column;
    background-color: $background-dark;
    color: $text-light;
    padding-bottom: 1.5em;
    margin: 0;
}