// styles.scss
@use 'atoms' as *;
@use 'variables' as *;

.design-selection {
    background-color: $accent-orange;
}

.participation {
    background-color: $accent-orange;
}

.requirements {
    background-color: $accent-blue;
}

.zen-resources {
    display: flex;
    flex-direction: column;
    color: $text-light;
    padding-bottom: 1.5em;
    padding-left: $font-size-lg;
    @include pattern();
}

.summary, .preamble, .explanation, .benefits, .design-selection, .design-archives, .participation, .requirements {
    padding: 0 $font-size-lg $font-size-lg $font-size-lg;
}

.preamble, .requirements {
    color: white;
}

footer {
    display: flex;
    gap: 1em
}

@media screen and (max-width: 600px) {
   // tent
.preamble h3::before, .explanation h3::after, .participation h3::before, .benefits h3::after, .requirements h3::before {
    display: none;
  }
  }