//imports Roboto and Open Sans from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

$background-primary: #B4D9D9;
$accent-blue: #539DA6;
$accent-orange: #F2AA6B;
$background-dark: #0E1F26;
$background-orange: #D9753B;
$text-light: #fff;
$text-dark: #222;

$headline-font-family: 'Open Sans', sans-serif;
$body-font-family: 'Roboto', serif;


// images/icons

$hero-img: url("images/hero.svg");

$tent-light: url("images/tent-white.svg");
$river-dark: url("images/river-black.svg");
$tree-dark: url("images/tree-black.svg");
$mount-dark: url("images/mount-black.svg");
$bear-light: url("images/bear-white.svg");
$compass-dark: url("images/compass-black.svg");
