//imports Roboto and Open Sans from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

$background-primary: #B4D9D9;
$accent-blue: #539DA6;
$accent-orange: #F2AA6B;
$background-dark: #0E1F26;
$background-orange: #D9753B;
$text-light: #fff;
$text-dark: #222;

$headline-font-family: 'Open Sans', sans-serif;
$body-font-family: 'Roboto', serif;

// font size clamps
$font-size-sm: clamp(0.8rem, 0.25vw + 0.74rem, 0.94rem);
$font-size-base: clamp(1rem, 0.45vw + 0.89rem, 1.25rem);
$font-size-md: clamp(1.25rem, 0.76vw + 1.06rem, 1.67rem);
$font-size-lg: clamp(1.56rem, 1.2vw + 1.26rem, 2.22rem);
$font-size-xl: clamp(1.95rem, 1.83vw + 1.5rem, 2.96rem);
$font-size-xxl: clamp(2.44rem, 2.74vw + 1.76rem, 3.95rem);
$font-size-xxxl: clamp(3.05rem, 4.02vw + 2.05rem, 5.26rem);


// images/icons

$hero-img: url("images/hero_wide.svg");

$tent-light: url("images/tent-white.svg");
$river-dark: url("images/river-black.svg");
$tree-dark: url("images/tree-black.svg");
$mount-dark: url("images/mount-black.svg");
$bear-light: url("images/bear-white.svg");
$compass-dark: url("images/compass-black.svg");
