@use 'variables' as *; // This allows us to use the variables from the variables file

h1 {
    background-color: $background-dark;
    color: $text-light;
    font-family: $headline-font-family;
}

p {
    font-family: $body-font-family;
}

