// styles.scss
@use 'atoms';  // assumes file is named _atoms.scss
@use 'molecules';
@use 'organisms'; //can add 'as o' at the end to shorten it
@use 'variables' as *;


body {
  font-family: $body-font-family;
  font-size: 85%;
  color: $text-dark;
  background-color: $background-primary;
  margin: 0;
  
}