@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h1 {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #222;
  background: #0E1F26;
  color: #fff;
  display: block;
  font-weight: 100;
  padding: clamp(1.95rem, 1.83vw + 1.5rem, 2.96rem) clamp(0.8rem, 0.25vw + 0.74rem, 0.94rem);
  font-size: clamp(1.95rem, 1.83vw + 1.5rem, 2.96rem);
  margin-block-start: 0;
}

h2 {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #222;
  color: #222;
  font-weight: 600;
  font-size: clamp(1.56rem, 1.2vw + 1.26rem, 2.22rem);
  margin-bottom: calc(clamp(0.8rem, 0.25vw + 0.74rem, 0.94rem) * 0.5);
  margin: calc(clamp(0.8rem, 0.25vw + 0.74rem, 0.94rem) * 0.5) auto;
}

h3 {
  font-size: calc(clamp(1.56rem, 1.2vw + 1.26rem, 2.22rem) * 1.2);
  font-weight: 200; /* Thin */
  padding: 0.85em 0 0.2em 0.5em;
  display: flex;
  column-gap: calc(clamp(0.8rem, 0.25vw + 0.74rem, 0.94rem) * 0.7);
  align-content: center;
  justify-content: center;
}

p {
  font-family: "Roboto", serif;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.5em;
  margin: 0;
}

p, li {
  max-width: 66ch;
}

ul {
  margin-block-start: calc(clamp(0.8rem, 0.25vw + 0.74rem, 0.94rem) * 0.3);
}

ul li {
  margin-bottom: calc(clamp(1rem, 0.45vw + 0.89rem, 1.25rem) * 0.6);
}

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: none;
  color: #222;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}

a:hover {
  background-color: #D9753B;
}

.hero {
  content: url("images/hero_wide.svg");
  width: 600px;
}

header::before {
  content: url("images/hero_wide.svg");
}

header h1 {
  margin-top: -5px;
}

.preamble h3::before {
  animation: fade 2s 1;
  background-image: url("images/tent-white.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: clamp(2.44rem, 2.74vw + 1.76rem, 3.95rem);
  display: inline-block;
  content: "";
}

.explanation h3::after {
  animation: fade 5s 1;
  background-image: url("images/tree-black.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: clamp(2.44rem, 2.74vw + 1.76rem, 3.95rem);
  display: inline-block;
  content: "";
}

.participation h3::before {
  animation: fade 5s 1;
  background-image: url("images/mount-black.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: clamp(2.44rem, 2.74vw + 1.76rem, 3.95rem);
  display: inline-block;
  content: "";
}

.benefits h3::after {
  animation: fade 5s 1;
  background-image: url("images/compass-black.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: clamp(2.44rem, 2.74vw + 1.76rem, 3.95rem);
  display: inline-block;
  content: "";
}

.requirements h3::before {
  animation: fade 5s 1;
  background-image: url("images/bear-white.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: clamp(2.44rem, 2.74vw + 1.76rem, 3.95rem);
  display: inline-block;
  content: "";
}

@keyframes fade {
  from {
    rotate: 45deg;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.design-selection {
  background-color: #F2AA6B;
}

.participation {
  background-color: #F2AA6B;
}

.requirements {
  background-color: #539DA6;
}

.zen-resources {
  display: flex;
  flex-direction: column;
  background-color: #0E1F26;
  color: #fff;
  padding-bottom: 1.5em;
  padding-left: clamp(1.56rem, 1.2vw + 1.26rem, 2.22rem);
}

.summary, .preamble, .explanation, .benefits, .design-selection, .design-archives, .participation, .requirements {
  padding: 0 clamp(1.56rem, 1.2vw + 1.26rem, 2.22rem) clamp(1.56rem, 1.2vw + 1.26rem, 2.22rem) clamp(1.56rem, 1.2vw + 1.26rem, 2.22rem);
}

.preamble, .requirements {
  color: white;
}

@media screen and (max-width: 600px) {
  .preamble h3::before, .explanation h3::after, .participation h3::before, .benefits h3::after, .requirements h3::before {
    display: none;
  }
}
header {
  text-align: center;
}

.preamble {
  background-color: #539DA6;
}

footer {
  background-color: #F2AA6B;
  padding: clamp(1.56rem, 1.2vw + 1.26rem, 2.22rem);
}

#zen-resources ul li a {
  color: #fff;
}

#zen-resources ul {
  width: fit-content;
}

ul {
  margin: 0 auto 0 5em;
}

body {
  font-family: "Roboto", serif;
  font-size: calc(clamp(1rem, 0.45vw + 0.89rem, 1.25rem) * 0.9);
  color: #222;
  background-color: #B4D9D9;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
